* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: Arial;
    word-wrap: break-word;
}

body {
    background-color: dimgrey;
}

.course {
    padding: 7px 12px 3px 11.5px;
    margin: 0 auto;
    max-width: 849px;
    background: #FEEED6;
}

.course_name {
    margin: 0 0 14px 0;
    font-size: 177.777%; /*32px*/
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.05px;
}

.start, .price, .price_for_student, .course_content {
    margin: 0 0 10px 0;
    font-size: 105.555%; /*19px*/
    word-spacing: 0.8px;
}

.course_content {
    margin: 15px 0 8px 0;
    letter-spacing: 0.1px;
}

.list_item > strong {
    color: #378FB4;
}

.course_description {
    margin: 0 0 11px 0;
    text-indent: 17px;
    text-align: justify;
    word-spacing: -1.4px;
    line-height: 1.34;
}

.course :last-child {
    margin: 0;
}