* {
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: "Kievit Offc Pro Regular", "Arial", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    width: 859px;
    height: 310px;
    background: #FFF;
    border-collapse: collapse;
}

.table thead {
    text-align: left;
    color: #FFF;
    background: #3498DB;
}

.table th,
.table td {
    padding: 14px 11px 11px;
    border: 1px solid #CECECE;
    font-weight: 500;
}

.cell_first_name {
    width: 175px;
}

.cell_last_name {
    width: 173px;
}

.cell_job_title {
    width: 310px;
}

.cell_twitter {
    width: 200px;
}

.table tbody tr:nth-child(odd) {
    background: #EEE;
}
