[v-cloak] {
    display: none;
}

.form-control:focus.valid_text {
    border-color: #0F0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 255, 0, 0.075), 0 0 8px rgba(0, 255, 0, 1);
    box-shadow: inset 0 1px 1px rgba(0, 255, 0, 0.075), 0 0 8px rgba(0, 255, 0, 1);
}

.form-control:focus.invalid_text {
    border-color: #F00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 1);
    box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 1);
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter {
    opacity: 0;
    transform: translateX(200px);
}

.list-leave-to {
    opacity: 0;
    transform: translateX(-200px);
}

.modalDialog-enter-active {
    animation: modalDialog-in 1s;
}

.modalDialog-leave-active {
    animation: modalDialog-in 1s reverse;
}

@keyframes modalDialog-in {
    0% {
        transform: scale(0);
    }

    17% {
        transform: scaleY(1.5);
    }

    34% {
        transform: scaleY(0.5);
    }

    51% {
        transform: scaleY(1.25);
    }

    68% {
        transform: scaleY(0.75);
    }

    100% {
        transform: scale(1);
    }
}

.table-group-divider {
    border-top-color: #888;
}

@media (min-width: 576px) {
    body {
        font-size: 1.25rem;
    }
}
