* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    word-wrap: break-word;
    color: #0B0;
    background: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;
    max-width: 500px;
    border: 2px solid #0B0;
    text-align: center;
}

.header {
    display: block;
    margin: 0 0 10px;
    color: #080;
}

.dividing_line {
    margin: 15px 0 15px;
    border: none;
    border-top: 2px dashed #0B0;
}

.text_box_control {
    max-width: 100px;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    background: #0B0;
    border: none;
}

.flex_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fahrenheit_conversion_button,
.kelvin_conversion_button {
    margin: 15px 0 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background: #080;
}

.kelvin_conversion_button {
    padding: 5px 21px;
}

    .fahrenheit_conversion_button:hover,
    .kelvin_conversion_button:hover {
        cursor: pointer;
        background: #0D0;
    }

.label_control {
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #000;
    background: #0B0;
}

.flex_container_for_result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.typeResult,
.result {
    padding: 0 5px;
    width: 35%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: #000;
    background: #0F0;
    border: none;
}

.result {
    width: 64%;
}

@media (max-width: 341px) {
    .typeResult {
        width: 100%;
        margin-bottom: 3px;
    }

    .result {
        width: 100%;
        margin-bottom: 10px;
    }
}
